# Node modules
node_modules
npm-debug.log
yarn-error.log

# Build output
build
dist



# IDE and editor files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Other files
*.log
*.tmp
*.bak
*.swp
*.swo
