# Ignore node_modules as it will be reinstalled in the container
node_modules
dist
.cache

# Ignore test files
*.log
*.tsbuildinfo
*.test.ts
*.spec.ts

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore git folder and files
.git
.gitignore

# Ignore IDE/editor config files
.vscode/
.idea/
